
<h1> Welcome Ramani </h1>
<p> Here is a progress of your chit fund business <p>
<p>Select your Chit value <%= link_to "1 Lakh","#",class:"btn btn-success btn-lg " %>
<%= link_to "2 lakh","#",class:"btn btn-primary btn-lg" %></p>


