<div Class="jumbotron">
<h1>Welcome to my app</h1>
<p>Click here to <%= link_to "SIGN UP","#",class:"btn btn-success btn-lg active"%></p>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="10" aria-valuemax="100" style="width: 60%;">
    50%
  </div>
</div>
</div>